/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

/* Brackets */
COMBO(left_brace, &kp LEFT_BRACE, 3 13, BASE)
COMBO(right_brace, &kp RIGHT_BRACE, 6 16, BASE)
COMBO(left_bracket, &kp LEFT_BRACKET, 2 12, BASE)
COMBO(right_bracket, &kp RIGHT_BRACKET, 7 17, BASE)
COMBO(left_parenthesis, &kp LEFT_PARENTHESIS, 11 21, BASE)
COMBO(right_parenthesis, &kp RIGHT_PARENTHESIS, 18 28, BASE)
COMBO(less_than, &kp LESS_THAN, 12 22, BASE)
COMBO(greater_than, &kp GREATER_THAN, 18 28, BASE)

/* Misc */
COMBO(caps_word, &caps_word, 31 32, BASE)

/* Text processing (Mac) */
COMBO(undo_mac, &kp LG(Z), 20 21, BASE_MAC)
COMBO(cut_mac, &kp LG(X), 21 23, BASE_MAC)
COMBO(copy_mac, &kp LG(C), 21 22, BASE_MAC)
COMBO(paste_mac, &kp LG(V), 21 22 23, BASE_MAC)
COMBO(select_all_mac, &kp LG(A), 20 23, BASE_MAC)

/* Text processing (Linux) */
COMBO(undo_linux, &kp LC(Z), 20 21, BASE_LINUX)
COMBO(cut_linux, &kp LC(X), 21 23, BASE_LINUX)
COMBO(copy_linux, &kp LC(C), 21 22, BASE_LINUX)
COMBO(paste_linux, &kp LC(V), 21 22 23, BASE_LINUX)
COMBO(select_all_linux, &kp LC(A), 20 23, BASE_LINUX)

/* App switching (Mac) */
COMBO(app1_mac, &macro_app1, 32 16, BASE_MAC)
COMBO(app2_mac, &macro_app2, 32 17, BASE_MAC)
COMBO(app3_mac, &macro_app3, 32 18, BASE_MAC)

/* App switching (Linux) */
COMBO(app1_linux, &kp LG(S), 32 16, BASE_LINUX)
COMBO(app2_linux, &kp LG(T), 32 17, BASE_LINUX)
COMBO(app3_linux, &kp LG(C), 32 18, BASE_LINUX)

/* System */
COMBO(power, &kp C_POWER, 4 5, BASE)
COMBO(ios_keyboard_toggle, &kp C_EJECT, 5 15, BASE)
COMBO(mic_mute_left, &kp LG(BACKSLASH), 13 23, BASE)
COMBO(mic_mute_right, &kp LG(BACKSLASH), 16 26, BASE)
COMBO(volup, &kp C_VOL_UP, 7 17, NAV)
COMBO(voldown, &kp C_VOL_DN, 17 27, NAV)

/* Keyboard */
COMBO(reset, &reset, 11 12 13 17, BASE)
COMBO(bootloader, &bootloader, 14 15 24 25, BASE)
COMBO(bt0, &macro_bt_0, 26 27, BASE)
COMBO(bt1, &macro_bt_1, 2 3, BASE)
COMBO(bttog, &out OUT_TOG, 11 12 13, BASE)
COMBO(btclear, &bt BT_CLR, 4 24, BASE)
