#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define XXX &none
#define ___ &trans

#define BASE 0
#define NAV 1
#define BASE_IOS 2
#define NAV_IOS 3
#define NUM 4
#define ADJ 5
#define SYM 6

#define NEXT LC(PG_DN)
#define PREV LC(PG_UP)
#define SW_APP LG(TAB)
#define WORD_BS LC(BSPC)
#define WORD_L LC(LEFT)
#define WORD_R LC(RIGHT)

#define iEND LG(RIGHT)
#define iHOME LG(LEFT)
#define iNEXT LS(LG(RBKT))
#define iPREV LS(LG(LBKT))
#define iWORD_BS LA(BSPC)
#define iWORD_L LA(LEFT)
#define iWORD_R LA(RIGHT)

&sk {
  release-after-ms = <2000>;
};

/ {

  combos {
    #include "combos.dtsi"
  };

  behaviors {

    #include "macros.dtsi"

    shift_caps: shift_caps {
      compatible = "zmk,behavior-tap-dance";
      label = "shift_caps";
      #binding-cells = <0>;
      tapping_term_ms = <250>;
      bindings = <&sk LSHIFT>, <&kp CAPSLOCK>;
    };

  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &kp SQT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp A         &kp R         &kp S         &kp T         &kp G             &kp M         &kp N         &kp E         &kp I         &kp O
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp Z         &kp X         &kp C         &kp D         &kp V             &kp K         &kp H         &kp COMMA     &kp DOT       &kp SLASH
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       &mo NAV       &shift_caps       &kp SPC       &mo SYM
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    nav_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             XXX           &kp PREV      &kp NEXT      &kp SW_APP    XXX               &kp PG_UP     &kp TAB       &kp UP        &kp ENTER     XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LALT      &sk LCTRL     &sk LGUI      XXX               &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     &kp DEL
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LSHFT     &mo ADJ       XXX           XXX               &kp HOME      &kp WORD_L    &kp WORD_BS   &kp WORD_R    &kp END
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___               &kp BSPC      &kp ESC
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    base_layer_ios {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       &mo NAV_IOS   ___               ___           ___
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    nav_layer_ios {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             XXX           &kp iPREV     &kp iNEXT     &kp SW_APP    XXX               &kp PG_UP     &kp TAB       &kp UP        &kp ENTER     XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LALT      &sk LCTRL     &sk LGUI      XXX               &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     &kp DEL
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LSHFT     &mo ADJ       XXX           XXX               &kp iHOME     &kp iWORD_L   &kp iWORD_BS  &kp iWORD_R   &kp iEND
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___               &kp BSPC      &kp ESC
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    num_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             XXX           XXX           XXX           XXX           XXX               XXX           &kp N7        &kp N8        &kp N9        XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LALT      &sk LCTRL     &sk LGUI      XXX               XXX           &kp N4        &kp N5        &kp N6        &kp N0
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LSHFT     XXX           XXX           XXX               XXX           &kp N1        &kp N2        &kp N3        XXX
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       ___           ___               &kp BSPC      &kp ESC
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    adjust_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             XXX           &macro_bt3    &macro_bt2    &macro_bt1    &out OUT_BLE      &kp C_BRI_UP  XXX           &kp C_VOL_UP  XXX           XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LALT      &sk LCTRL     &sk LGUI      &out OUT_USB      &kp C_BRI_DN  &kp C_PREV    &kp C_VOL_DN  &kp C_NEXT    XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             XXX           &sk LSHFT     XXX           XXX           &bt BT_CLR        XXX           XXX           XXX           XXX           XXX
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       XXX           XXX               XXX           XXX
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

    sym_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp CARET     &kp LPAR      &kp RPAR      &kp EXCL      &kp DOLLAR        XXX           XXX           XXX           XXX           XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp AT        &kp LBKT      &kp RBKT      &kp SEMI      &kp HASH          XXX           &sk LGUI      &sk LCTRL     &sk LALT      XXX
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp STAR      &kp BSLH      &kp AMPS      &kp GRAVE     &kp PRCNT         XXX           XXX           XXX           &sk LSHFT     XXX
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       &kp EQUAL     &kp MINUS         XXX           XXX
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };

  };
};
