#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define BASE_UK 1
#define BASE_MAC 2
#define NUM 3
#define NAV 4
#define NAV_MAC 5
#define ADJ 6

#define XXX &none
#define ___ &trans

#define UK_DOUBLE_QUOTES (AT_SIGN)
#define UK_AT_SIGN (DOUBLE_QUOTES)
#define UK_PIPE (PIPE2)
#define UK_TILDE (TILDE2)
#define UK_HASH (NON_US_HASH)
#define UK_BACKSLASH (NON_US_BACKSLASH)

&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <250>;
  quick_tap_ms = <0>;
};

&lt {
  flavor = "tap-preferred";
  tapping_term_ms = <175>;
  quick_tap_ms = <0>;
};

/ {

  #include "combos.dtsi"

  behaviors {

    #include "macros.dtsi"

    uk_quote: uk_single_double_quotes {
      compatible = "zmk,behavior-mod-morph";
      label = "SINGLE_DOUBLE_QUOTES";
      #binding-cells = <0>;
      bindings = <&kp SINGLE_QUOTE>, <&kp UK_DOUBLE_QUOTES>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      bindings = <
        /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &kp SQT
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             &mt LALT A    &mt LSHFT R   &mt LCTRL S   &mt LGUI T    &kp G             &kp M         &mt LGUI N    &mt LCTRL E   &mt LSHFT I   &mt LALT O
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             &kp Z         &lt ADJ X     &kp C         &kp D         &kp V             &kp K         &kp H         &kp COMMA     &lt ADJ DOT   &kp SLASH
        /* ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
                                                       &kp ESCAPE    &lt NUM SPC       &lt NAV BSPC  &kp ENTER
        /*                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯                                           */
      >;
    };

    base_layer_uk {
      bindings = <
        /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             ___           ___           ___           ___           ___               ___           ___           ___           ___           &uk_quote
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        /* ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
                                                       ___           ___               ___           &kp ENTER
        /*                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯                                           */
      >;
    };

    base_layer_mac {
      bindings = <
        /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ___           ___           ___           ___           ___               ___           ___           ___           ___           ___
        /* ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
                                                       ___           ___               &lt NAV_MAC BSPC ___
        /*                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯                                           */
      >;
    };

    number_layer {
      bindings = <
        /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             XXX           XXX           XXX           XXX           XXX               XXX           &kp N7        &kp N8        &kp N9        XXX
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             &sk LALT      &sk LSHFT     &sk LCTRL     &sk LGUI      XXX               XXX           &kp N4        &kp N5        &kp N6        &kp N0
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             XXX           XXX           XXX           XXX           XXX               XXX           &kp N1        &kp N2        &kp N3        XXX
        /* ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
                                                       ___           ___               &kp N0        ___
        /*                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯                                           */
      >;
    };

    navigation_layer {
      bindings = <
        /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             XXX           &kp HOME      &kp UP        &kp END       XXX               XXX           XXX           XXX           XXX           XXX
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             XXX           &kp LEFT      &kp DOWN      &kp RIGHT     XXX               XXX           &sk LGUI      &sk LCTRL     &sk LSHFT     &sk LALT
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             XXX           XXX           &kp PG_UP     &kp PG_DN     XXX               XXX           XXX           XXX           XXX           XXX
        /* ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
                                                       ___           ___               ___           ___
        /*                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯                                           */
      >;
    };

    navigation_layer_mac {
      bindings = <
        /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             &kp N0        &kp LG(LEFT)  &kp UP        &kp LG(RIGHT) XXX               XXX           XXX           XXX           XXX           XXX
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             XXX           &kp LEFT      &kp DOWN      &kp RIGHT     XXX               XXX           &sk LGUI      &sk LCTRL     &sk LSHFT     &sk LALT
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             XXX           XXX           &kp PG_UP     &kp PG_DN     XXX               XXX           XXX           XXX           XXX           XXX
        /* ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
                                                       ___           ___               ___           ___
        /*                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯                                           */
      >;
    };

    adjust_layer {
      bindings = <
        /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             XXX           XXX           &kp C_VOL_UP  XXX           XXX               XXX           XXX           XXX           XXX           XXX
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             XXX           &kp C_BRI_DN  &kp C_VOL_DN  &kp C_BRI_UP  XXX               XXX           &out OUT_TOG  &reset        &bootloader   XXX
        /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             XXX           XXX           XXX           XXX           XXX               XXX           &bt_host1     &bt_host2     &bt_host3     &bt BT_CLR
        /* ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯ */
                                                       ___           ___               ___           ___
        /*                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯                                           */
      >;
    };

  };
};
