// Macro macro:
#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
    compatible = "zmk,behavior-macro"; \
    label = str(NAME); \
    #binding-cells = <0>; \
    bindings = <BINDINGS>; \
  };

// Focus the first icon in the iPadOS dock:
#define FOCUS_DOCK &sk GLOBE &kp A &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT

// Then select the desired app:
MACRO(app1, FOCUS_DOCK &kp ENTER)
MACRO(app2, FOCUS_DOCK &kp RIGHT &kp ENTER)
MACRO(app3, FOCUS_DOCK &kp RIGHT &kp RIGHT &kp ENTER)

// Delete to beginning of line (like cmd+backspace on macOS)
MACRO(bspc_line, &kp LS(HOME) &kp BSPC)

// Switch default keymaps with hosts
MACRO(bt_0, &bt BT_SEL 0 &to BASE_MAC)
MACRO(bt_1, &bt BT_SEL 1 &to BASE_LINUX)
