#define str(s) #s

#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
    compatible = "zmk,behavior-macro"; \
    label = str(NAME); \
    #binding-cells = <0>; \
    bindings = <BINDINGS>; \
  };

MACRO(bt1, &bt BT_SEL 0 &to BASE_IOS)
MACRO(bt2, &bt BT_SEL 1 &to BASE)
MACRO(bt3, &bt BT_SEL 2 &to BASE_IOS)
